{% extends "myblog/base.html" %}
{% load static %}

{% block title %}
    <title>A blog with Docker</title>
{% endblock title %}
{% block nav %}
{% endblock nav %}
{% block content %}
<!-- Main page with all the posts -->
    <div>
        <div>
            <h1><a href="/"> This website will be available soon !</a></h1>
        </div>

        <div>
            {% for post in object_list %}
                <div>
                    <div><a href="{% url 'post_detail' post.slug %}"><h2>{{ post.title }}</h2></a>

                        <p>By : {{ post.author }} - {{ post.created_date_post }} - {{ post.total_likes }} <i class="fas fa-heart"></i></p>
                        <div>
                            <p>{{ post.text_post|truncatechars:200|safe }}</p>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock content %}