{% extends "myblog/base.html" %}

{% load static %}

{% block title %}
    <title>Delete post</title>
{% endblock title %}

{% block content %}
{% if user.is_authenticated and user.id == object.author.id %}
    {%  if user.is_superuser or user.is_staff %}

            <div>Delete this post ? <strong>{{ object.title }}</strong></div>

                        <form method="post">
                            {% csrf_token %}
                        <strong>Are you sure ?</strong>
                            <button>Delete</button>
                        </form>
    {% endif %}
{% else %}
    <div>You are not allowed here</div>
{% endif %}
{% endblock content %}