
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: hsl(235, 21%, 12%);
  color: aliceblue;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.container {
    display: flex;
    justify-content: flex-start;
}

a {
    text-decoration: none;
    color: hotpink;
}

nav a {
    color: aliceblue;
}

nav {
    padding-right: 2rem;
}

.post_form {
    align-content: center;
}

.post_container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#box_commentaire {
    display: flex;
    flex-direction: column-reverse;
}

.message_box {
    padding-top: 20px;
    color: #81d4fa;
}

h1 {
    color: #5897fb;
}